body {
	margin: 0 auto;
	overflow: hidden;
	background-color: grey;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 76vmin;
	height: 84vmin;
	border: solid black;
	background-color: black;
}

.grid div {
	width: 4vmin;
	height: 4vmin;
}

.wall {
	background-color: blue;
}

.lair {
	background-color: blue;
	border: 0.7vmin solid black;
	box-sizing: border-box;
}

.dot {
	background-color: white;
	border: 1.5vmin solid black;
	box-sizing: border-box;
	border-radius: 2vmin;
}

.fruit {
	background-color: orange;
	border: 0.5vmin solid black;
	box-sizing: border-box;
	border-radius: 1.7vmin;
}

.powerup {
	background-color: white;
	border: 1vmin solid black;
	box-sizing: border-box;
	border-radius: 2vmin;
	animation: blinker 500ms linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.dacman {
	background-color: yellow;
	border-radius: 2vmin;
}

.ghost {
	border-radius:2vmin 2vmin 0 0;
	border: 2px solid black;
	box-sizing: border-box;	
}

.blinky {
	background-color: red;
	animation:none;
}

.inky {
	background-color: cyan;
	animation:none;
}

.clyde {
	background-color: orange;
	animation:none;
}

.scared {
	background-color: blue;
	animation:none;
}
