* {
  margin:0; /* reset */
  padding:0;
  box-sizing:border-box;
}

html { height:100%; width:100%; }

body {
  background-color:#345;
  color:#ffffff;
  display:flex;
  flex-direction:column;
  align-items:center;
  min-height:100%;
  width:100%;
}

header {
  background-color:#456;
  font-family: arial;
  font-size: 20px;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 1;
}

header div {
  display: inline-block;
  margin: 0 6px;
}

header form {
  display: inline-block;
}

canvas {
  background-color:#234;
  display: block;
  flex: 1 1 auto;
}

.menu {
  list-style: none;
  cursor: pointer;
  background-color:#111;
  color:#eee;
  padding: 0 10px;
}

.menu:hover {
  background-color:#eee;
  color:#111;
}
