* {
  margin:0; /* reset */
  padding:0;
  box-sizing:border-box;
}

html { height:100%; width:100%; }

body {
  align-content:space-around;
  align-items:center;
  background-color:#345;
  color:#ffffff;
  display:grid;
  grid-template-columns:auto;
  grid-template-rows:auto; /* auto; */
  justify-items:center; /* horizotal center */
  min-height:100%; /* stretch content to the full height*/
  width:100%;
}

canvas {
  background-color:#234;
}

header {
  background-color:#456;
  font-family: arial;
  font-size: 20px;
  width: 100%;
  height: 40px;
  padding: 4px 10px 4px 10px;
  position: absolute;
  top: 0px;
  cursor: none;
}

header div {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

header form {
  display: inline-block;  
}

.menu {
  list-style: none;
  cursor: pointer;
  background-color:#111;
  color:#eee;
  padding: 0 10px;
}

.menu:hover {
  background-color:#eee;
  color:#111;
}
